*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #212121;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containers{
    margin-top: 120px;
    width: 500px;
}